/* Matilda Nilsson, matildanilsson4@hotmail.com */
$font-body: 'Roboto Mono', monospace, "Roboto", "Arial";
$font-handwrite: 'Roboto Slab', serif, "Roboto", "Arial";
/*Colors*/
$primary-background-color: #515151;
$font-color: #FFF;
$nav-text-color: #FFF;
$hover-color: #000;
/*Decorations*/
$border-bottom: 2px solid #FFF;
$box-border: inset 0 0 0 1px #FFFFFF;
$box-border-hover: inset 0 0 0 4px #FFFFFF;
$transition: 0.3s;
/*Width*/
$start-page-card: 60vw;
$social-icons: 4vw;
$cards: 30vw;
$img-card: 85%;
/*Distance*/
$between-objects: 1vw 1.5vw;
$inside-cards: 1.5vw;
$grid-gap: 2.5vw;
$top: 7vw;
$top-half: 3.5vw;
$bottom: 2vw;

/*Media query*/
$mq-between-objects: 1vw 5vw;
$mq-cards: 70vw;
$mq-text: 60vw;
/*================================= GENERAL =================================*/
body {
  margin: 0;
  background-color: $primary-background-color;
}
/*Headings*/
h1,
h2,
h3 {
  font-family: $font-handwrite;
  color: $font-color;
  margin: 0;
}

a,
p {
  font-family: $font-body;
  color: $font-color;
}
/*================================ NAVMENY ================================ */
.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 5;
  width: 100%;
  justify-content: flex-end;
  background: $primary-background-color;

  li {
    list-style-type: none;
    display: inline-block;
    padding: $between-objects;

    a {
      font-weight: bold;
      text-decoration: none;
    }

    :hover {
      border-bottom: $border-bottom;
    }
  }
}
/*================================ STARTPAGE ================================*/
.startpage_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Introduction */
  .row_1 {
    display: flex;
    align-items: center;
    margin-top: $top;
    width: $start-page-card;
    box-shadow: $box-border;

    img {
      height: 40%;
      width: 40%;
      padding: $inside-cards;
    }

    .textbox {
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding-right: $inside-cards;

      #master {
        text-align: left;
        color: #878787;
      }
    }
  }
  /*Social icons*/
  .row_2 {
    display: flex;

    .col_2 {
      width: $social-icons;
      margin: $between-objects;

      img {
        width: 100%;
      }
    }

    .col_2:hover {
      transition: $transition;
      border-bottom: $border-bottom;
    }
  }
}
/*================================ PROJECTS ================================*/
#projects {
  text-align: center;
  padding-top: $top;
  h2{
    text-decoration: underline;
  }


  #touch {
    display: none;
  }
}

.projects {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: auto auto;
  align-content: flex-start;
  grid-gap: $grid-gap;
  padding-top: $top;

  .card {
    display: flex;
    box-shadow: $box-border;
    width: $cards;
    height: auto; //??
    justify-content: center;
    align-items: center;
    position: relative;
    padding: $inside-cards;

    img {
      object-fit: contain;
      width: $img-card;
      height: auto; //??
    }

    .hidden_text {
      display: none;
      width: 30vw;
      position: absolute;
      text-align: justify;

      a {
        .readMore {
          text-decoration: underline;
        }

        :hover {
          font-weight: bold;
          transition: $transition;
        }
      }
    }
  }
  #dbt{
    img{
      width: 60%;
    }
  }
  :hover {
    img {
      opacity: 0.1;
      filter: alpha(opacity=50);
      transition: $transition;
    }

    .hidden_text {
      display: block;
    }
  }
}
/*=============================== CONTACT ME ===============================*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $top;

  h2{
    text-decoration: underline;
  }

  #mail {
    text-decoration: underline;
    font-size: 1.5vw;
  }

  #mail:hover {
    text-decoration: none;
    transition: $transition;
  }

  a {
    text-decoration: none;
    padding-top: $top-half;
  }

  #cv {
    background-color: none;
    margin: auto;
    padding: $inside-cards;
    transition: $transition;
    box-shadow: $box-border;
  }

  #cv:hover {
    box-shadow: $box-border-hover;
  }
  /*Social icons*/
  .row_2 {
    display: flex;
    padding-top: $top-half;
    padding-bottom: $bottom;

    .col_2 {
      width: $social-icons;
      margin: $between-objects;

      img {
        width: 100%;
      }
    }

    .col_2:hover {
      transition: $transition;
      border-bottom: $border-bottom;
    }
  }
}
/*=============================== RESPONSIVE ===============================*/
@media screen and (max-width: 1200px) {
  .nav {
    justify-content: center;

    li {
      padding: $mq-between-objects;
    }
  }

  .startpage_card {
    padding-top: $top;
    .row_1 {
      flex-direction: column;
      width: $img-card;

      img{
        width: $img-card;
      }

      .textbox {
        align-items: center;
        padding: $inside-cards;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  #projects {
    margin: 0;

    #touch {
      display: block;
    }
  }

  .projects {
    grid-template-columns: auto;

    .card {
      width: $mq-cards;

      .hidden_text{
        width: $mq-text;
      }
    }
    #dbt{
      img{
        width: 60%;
      }
    }
  }

  .contact {
    padding: $inside-cards;
    box-shadow: inset 0 0 0 1px #FFFFFF;
    margin: 7vw 7vw;

    #cv {
      border: 2px solid white;
    }

    .row_2 {
      margin: 0;

      .col_2 {
        width: 8vw;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .nav {
    justify-content: center;

    li {
      padding: 0 5vw;
    }
  }

  .startpage_card {
    .row_1 {
      width: 90vw;
      padding: $inside-cards;
    }
  }
  .projects{
    width: 100vw;
    height: auto;
    .card{
      width: 90vw;
      height: 110vw;
      img{
        padding: $inside-cards;
      }

      .hidden_text{
        width: 85vw;
      }
    }
    #dbt{
      img{
        width: 60%;
      }
    }
  }
  .contact {
    h2{
      margin-bottom: $top;
    }
    #mail{
        font-size: 17px;
        margin-bottom: $top;
    }
    #cv{
      margin-bottom: $top;
    }
  }
}
